<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="client" class="main.beans.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="john Smith"/>
    </bean>

    <bean id="eventLogger" class="main.entity.ConsoleEventLogger"/>

    <bean id="fileEventLogger" class="main.entity.FileEventLogger" init-method="init">
        <constructor-arg value="src\main\save_files\log.txt"/>
    </bean>

    <bean id="cacheFileEventLogger" class="main.entity.CacheFileEventLogger" destroy-method="destroy">
        <constructor-arg value="src/main/save_files/log.txt"/>
        <constructor-arg value="5"/>
    </bean>

    <bean id="app" class="main.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
    </bean>

    <bean id="event" class="main.beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean id="dateFormat" class="java.text.DateFormat"
                  factory-method="getDateTimeInstance" />
        </constructor-arg>
    </bean>

</beans>